@import (reference) "../mixins/clearfix";
.comments {
  margin-top: 38px;
  margin-bottom: 98px;
}
.comment {
  margin-top: 10px;
  display: block;
  &__img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    background: #d2d5d7;
  }
  &__column {
    margin-left: 80px;
  }
  &__author {
    font-size: 20px;
    margin-bottom: 6px;
    color: #22292e;
  }
  &__answer {
    color: #58cf83;
  }
  &__info {
    margin-top: 10px;
  }
  &__date {
    color: #9d9d9d;
  }
  &__txt {
    line-height: 24px;
  }
  &__responses {
    padding-left: 20px;
    margin-top: 35px;
  }
  &:after {
    .clear();
  }
}
.comments-form {
  margin-top: 20px;
  &__fields {
    text-align: justify;
    &:after {
      content: "";
      height: 1px;
      width: 100%;
      display: inline-block;
    }
  }
  &__field {
    width: 336px;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    padding: 0 11px;
    box-sizing: border-box;
    border: solid 1px #a9a9a9;
  }
  &__text {
    display: inline-block;
    width: 700px;
    height: 116px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: Helvetica;
    padding: 15px 11px;
    border: solid 1px #a9a9a9;
  }
  &__submit {
    float: right;
    width: 240px;
    height: 60px;
    text-transform: none;
    font-size: 20px;
  }
  &:after {
    .clear();
  }
}
