.btn {
  border-radius: 3px;
  padding: 7px 16px;
  color: #fff;
  margin-left: 11px;
  font-size: 14px;
  text-transform: uppercase;
  &_green {
    background: #2cc76a;
    border-top: solid 1px #66e381;
  }
  &_chat {
    font-size: 14px;
    margin-left: 0;
    width: 140px;
  }
}