@s-logo-x: 0px;
@s-logo-y: 0px;
@s-logo-offset-x: 0px;
@s-logo-offset-y: 0px;
@s-logo-width: 174px;
@s-logo-height: 52px;
@s-logo-total-width: 174px;
@s-logo-total-height: 79px;
@s-logo-image: 'sprite.png';
@s-logo: 0px 0px 0px 0px 174px 52px 174px 79px 'sprite.png';
@s-logo_bottom-x: 0px;
@s-logo_bottom-y: 52px;
@s-logo_bottom-offset-x: 0px;
@s-logo_bottom-offset-y: -52px;
@s-logo_bottom-width: 89px;
@s-logo_bottom-height: 27px;
@s-logo_bottom-total-width: 174px;
@s-logo_bottom-total-height: 79px;
@s-logo_bottom-image: 'sprite.png';
@s-logo_bottom: 0px 52px 0px -52px 89px 27px 174px 79px 'sprite.png';
